body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

button {
    background: #22c55e;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

#output {
    margin-top: 20px;
    font-size: 20px;
}
